<div>
	<label>{{data.title_label}}</label><br />
    {{data.title_input}}
</div>

<div>
	<label>{{data.summary_label}}</label><br />
    {{data.summary_input}}
</div>

<div>
	<label>{{data.proposal_text_label}}</label><br />
    {{data.proposal_text_input}}
</div>


<div>
	<label>{{data.external_video_label}}</label><br />
    {{data.external_video_input}}
</div>

<div>
	<label>{{data.proposals_documents_label}}</label><br />
	{{data.proposals_documents_input}}
</div>

<div>
	<label>{{data.descriptive_image_label}}</label><br />
	{{data.descriptive_image_input}}
</div>

<div>
	<label>{{data.scope_label}}</label><br />
	{{data.scope_input}}
</div>

<div>
	<label>{{data.tags_label}}</label><br />
	{{data.tags_input}}
</div>

<div>
	<label>{{data.access_label}}</label><br />
	{{data.access_input}}
</div>




{{data.hidden_container_input}}

{{data.hidden_guid_input}}

{{data.footer}}